*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.red{
    background-color: red;
}

.blu{
    background-color: #1B72E8;
}

.white{
    color: #fff;
}
.grey-color{
    color: #5B5858;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.padding{
    padding-top: 62px;
}

.side-bar-section{
    width: 160px;
}

.height{
    height: calc(100vh - 62px);
}

.widht-percetnt{
    width: calc(100% - 160px);
}

.badge-color{
    background-color: #165BBA;
}

/* ====== EDN UTILITIES ====== */
/* ====== HEADER ====== */
.search-bar{
    position: relative;
}

.fa-magnifying-glass{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.search{
    background-color: #E5E5E5;
    padding: 10px 40px;
}

.fa-magnifying-glass{
    position: absolute;
}

.fa-bell{
    color: #FF8F00;
}
/*  ====== MAIN PART ====== */
/*  ====== NAVI SIDE BAR ====== */
.img-bckgrnd{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #051E34;
}
/* ====== MAIN CONTENT FROM DASHBOARD ====== */
/* main first part */
.add-student{
    border-radius: 8px;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    position: relative;
}

.plus{
    position: absolute;
    bottom: 1px;
    right: 9px;
}